body {
    background-color:  #f4f4f4;
    font-family: 'Poppins', sans-serif;
  }

  .info {

    margin: left;
    align-items: left;
    align-content: left;
    justify-content: left;
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    color: #959595;
    margin-top: 50px;
    letter-spacing: 1px;
    margin-left: 50px;


}

.titre {

    margin: auto;
    align-items: left;
    align-content: left;
    justify-content: left;
    text-align: left;
    font-size: 48px;
    color: #000000; 
    font-weight: 800;
    text-transform: capitalize;
    display: flex;
    margin-top: 10px;
    letter-spacing: -1px;
    font-family: sans-serif;
    margin-left: 50px;

}


.titre_description {

    margin: auto;
    align-items: left;
    align-content: left;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    font-weight: 150;
    display: flex;
    margin-top: 30px;
    line-height: 30px;
    margin-left: 50px;
    margin-bottom: 80px;

}

.card-title {
   
    margin-bottom: 25px;
    margin-top: 20px;
    text-transform: uppercase;
}

.description{
  color:rgb(0, 0, 0);
  font-size: 13px;
}
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
  color: #000000;
  background-color:#ffffff;
  font-size: 1em;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
  margin-top:20px;
  width: 60%;
  transition: transform 0.5s;
  margin-bottom: 100px;
  box-shadow: 0 0 20px 9px #e0e0e0;
  text-align: left;

}

.card:hover{
  transform: translateY(-10px);}


.image-event {

  width: 100%;
}

.button{
  width: 35%;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 0;
  background: #8e0000;
  border-radius: 20px;
  border: none ;
  transition: color 0.3s ease-in-out;
  margin-top: 30px;
  align-self: center;
  transition: color 0.3s ease-in-out;


}

.button:hover {

  color: #fff;
  background: #999;
  transition: color 0.3s ease-in-out;

}